<h1>estamos dentro del motor de avaluos</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit quidem
  modi quo explicabo, sequi necessitatibus autem iure optio enim veritatis porro
  asperiores quaerat ut rem ex excepturi minus? Possimus, odit.
</p>
<br />
<hr />

<app-card [data]="cardData"></app-card>

<form action="" class="form">
  <label for="" class="form__input">
    input 1
    <input type="text" name="" id="" />
  </label>
  <label for="" class="form__input">
    input 2
    <input type="text" />
  </label>
  <label for="" class="form__input">
    input 3
    <input type="text" />
  </label>
  <div class="form__actions">
    <button type="submit" class="form__button form__action-confirm">
      Aceptar
    </button>
    <button type="reset" class="form__button form__action-reset">
      Limpiar campos
    </button>
  </div>
</form>
