<div class="avaluos-card">
  <p-card>
    <ng-template pTemplate="header">
      <img class="avaluos-card__image" [src]="data.image" [alt]="data.name" />
    </ng-template>
    <div>
      <div class="avaluos-card__name">
        <p>{{ data.name }}</p>
        <app-dot-status [status]="data.status"></app-dot-status>
      </div>
      <p>
        {{ data.species }} | <span>{{ data.gender }}</span>
      </p>
    </div>
    <div>
      <p>Ubicación</p>
      <p>{{ data.location.name }}</p>
    </div>
    <div>
      <p>
        episodios <span>{{ data.episodes }}</span>
      </p>
    </div>
  </p-card>
</div>
