<section class="content">
  <div id="load-mf-component">
    <h1>
      aqui se debe cargar componente dinamico -> {{ counter }}, {{ counter2 }}
    </h1>
    <app-load-remote
      [componentData]="somethingConfigData"
      [events]="somethingComponentEvents"
      [props]="somethingComponentInputs"
    ></app-load-remote>

    <app-load-remote
      [componentData]="somethingConfigData"
      [events]="somethingComponentEvents2"
      [props]="somethingComponentInputs2"
    ></app-load-remote>
    <br />
    <hr />
    <br />
    <app-load-remote
      [componentData]="avaluosCardConfig"
      [props]="avaluosCardInputs"
    ></app-load-remote>
  </div>
</section>
